body {
    font-family: 'Roboto Slab', serif;
    max-width: 100%;
    .titulo-importante {
        font-weight: bold;
        margin: 20px 10px;
        font-size: 23px;
        text-decoration: none;
    }
    .alinhado-a-direita {
        justify-content: end;
        font-size: 25px;
    }
    .titulo-importante {
        font-weight: bold;
        margin: 20px 10px;
        font-size: 23px;
        text-decoration: none;
    }
    .img-opacity {
        opacity: 1;
    }
}



